/* Main Styling file
Color Palette:
--space-cadet: hsla(221, 45%, 19%, 1);
--star-command-blue: hsla(202, 93%, 40%, 1);
--alabaster: hsla(65, 27%, 92%, 1);
--opera-mauve: hsla(324, 24%, 58%, 1);
--irresistible: hsla(338, 45%, 49%, 1);
--cardinal: hsla(351, 80%, 44%, 1);*/

/*General Styles*/
  body {
    background-color: hsla(221, 45%, 19%, 1);
    color: hsla(65, 27%, 92%, 1);
  }

  li {
    font-size: 1.15rem;
    font-family: Montserrat;
  }

  p {
    font-size: 1.15rem;
    font-family: Montserrat;
    margin: 15px;
  }

  h1, h2, h3, h4, h5 {
    font-family: Comfortaa, Helvetica, sans-serif;
    background-color: hsla(202, 93%, 40%, 1);
    padding: 5px;
    text-align: center;
  }

/*Style for links*/
  a {
    font-weight: bolder;
    padding: 2px;
    margin: 2px;
    line-height: 1.5rem;
  }

  a:link {
    color: hsla(338, 45%, 49%, 1);
  }

  a:hover {
    color: hsla(324, 24%, 58%, 1);
    text-decoration: none;
  }

  a:visited {
    color: hsla(351, 80%, 44%, 1);  
    background-color: hsla(65, 27%, 92%, 0.1);
  }
/*Style for header*/
  


/*Style for About Me Section*/
  #about{
    display: block;
    overflow: hidden;   
  }

  #my-picture {
    width: auto;
    max-height: 367px;
    float: right;
    margin: 15px;
  }

/*Style for Skills and List Sections*/
  .item-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }

  .skill-item {
    margin: 2px;
  }

/*Style for Projects Section*/
  .project-item {
    border: 1px solid hsla(65, 27%, 92%, 1);
    display: inline-block;
    padding: 5px 15px;
  }

/*Style for Contact Info Section*/
footer p {
  text-align: center;
  font-style: italic;
  font-size: 1em;
  margin: 0 0 5px;
}
